<div id="darts_app">

<h1>New score</h1>

<%= render 'form' %>

<table id="darts_table">
  <tr>
    <th>Name</th>
    <th>Score</th>
  </tr>
</table>

</div>

<script id="dart_template" type="text/html">
<td>{{name}}</td>
<td>{{score}}</td>
</script>









