<!DOCTYPE html>
<html>
<head>
  <title>Dart Rankings</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag "jquery", "application", "jquery_ujs", "json2", "underscore", "backbone", "icanhaz", "users" %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
